<!doctype html>
<html>
<head>
	<title>Script Pets</title>
	<!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>
	<!-- my css -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/login.css">

</head>
<body>

	<!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#home">Script Pets</a>
		<button class="custom-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="navbar-nav mr-auto">
				<a class="nav-link" href="profile.html">Profile</a>
				<a class="nav-link" href="adventure.html">Adventure</a>
			</div>
			<div class="navbar-nav ml-auto">
				<a class="nav-link" href="login.html">Log In</a>
				<a class="nav-link active" href="register.html">Register</a>
				<a class="nav-link" href="create.html">Create</a>
			</div>
		</div>
	</nav>

	<!-- content -->
	<div class="container container-login">
		<div class="row justify-content-center login">
			<h2>Make an account</h2>
			<form>
				<input id="username" name="username" type="text" placeholder="Username" required>
				<input id="password" name="password" type="password" placeholder="Password" required>
				<input id="confPassword" name="confPassword" type="password" placeholder="Confirm password" required>
				<input type="submit" id="submit" class="btn btn-dark" value="Register">
			</form>
		</div>
	</div>

	<!-- scripts -->
	<div class="scripts">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</div>
</body>
</html>